<h1>Editing message</h1>

<% remote_form_for(@message, :before=>'setupLinkFields();') do |f| %>
  <%= render :partial => 'form', :locals=>{:f=>f}%>
  <p>
    <%= f.submit 'Update' %> or <%=link_to "Cancel", {:action=>:index}, :class=>'close_lightbox'%>
  </p>
<% end %>