<h1>Verify Account</h1>
<p>Please verify your Facebook account using Facebook Connect. This allows postponer to access information about what pages you can set pages to.</p>
<fb:login-button v="2" onlogin="document.location.href='<%=params[:next_url]%>';">Connect with Facebook</fb:login-button>